<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="appinventor.ai_sameh.FastBird">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="appinventor.ai_sameh.FastBird.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="appinventor.ai_sameh.FastBird.permission.C2D_MESSAGE" />

    <application
        android:name=".FastBirdApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:screenOrientation="portrait"
            android:name=".view.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:name=".view.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:name=".view.CommentActivity" />

        <receiver
            android:name="appinventor.ai_sameh.FastBird.receiver.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="appinventor.ai_sameh.FastBird" />
            </intent-filter>
        </receiver>
        <service
            android:exported="true"
            android:name="appinventor.ai_sameh.FastBird.service.GcmIntentService" />

    </application>
</manifest>

